<!-- Show user data when logged in -->
<div class="flex flex-col justify-evenly items-center gap-8">
  <div class="my-8" *ngIf="authService.userData as user">
    <h1 class="text-2xl">
      <span class="ua-blue">Ahoj,</span>
      {{ (user.displayName ? user.displayName : "User") | split: " " }}
    </h1>
  </div>

  <button
    class="bg-white rounded-md w-min py-4 min-w-[226px] whitespace-nowrap text-lg"
    routerLink="/register-user"
  >
    Hľadáš prácu?
  </button>
  <button
    class="bg-white rounded-md w-min py-4 min-w-[226px] whitespace-nowrap text-lg"
    routerLink="/register-employer"
  >
    Ponúkaš prácu?
  </button>

  <a (click)="authService.SignOut()">Odhlásiť </a>
</div>
