<div fxLayout="column" fxLayoutAlign="space-around center" class="displayTable">
  <div fxLayout="column" class="displayTableCell">
    <div fxLayout="column" class="authBlock">
      <h3 class="authBlockSignIn">Sign In</h3>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div fxLayout="row" fxLayoutAlign="center center" class="formGroup">
        <img src="/assets/google-svgrepo-com 1.svg" alt="" class="googleImg" />
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span
        >Don't have an account?<span
          class="redirect"
          routerLink="/register-user"
        >
          Sign Up</span
        ></span
      >
    </div>
  </div>
</div>
