<div class="flex flex-col justify-center items-center gap-4">
  <div
    class="block w-[80px] h-[80px] m-auto bg-cyan-600 text-white text-center leading-[5rem] mb-4 mt-6"
  >
    Logo
  </div>
  <div class="flex flex-col items-center">
    <span>Pozícia</span>
    <span class="flex flex-row gap-1 ua-blue"
      ><img src="assets/images/geoMarker.svg" class="w-6 h-6" />Location</span
    >
  </div>
  <img src="assets/images/rating.svg" />
  <div class="w-[331px] m-auto flex flex-col justify-center items-center gap-4">
    <span>Popis:</span>
    <div>
      Out too the been like hard off. Improve enquire welcome own beloved
      matters her. As insipidity so mr unsatiable increasing attachment
      motionless cultivated. Addition mr husbands unpacked occasion he oh. Is
      unsatiable if projecting boisterous insensible. It recommend be resolving
      pretended middleton.
    </div>

    <span>4.1</span>
    <img src="assets/images/rating.svg" class="w-[200px]" />
    <button
      class="ua-yellow-bg py-4 px-6 rounded-3xl w-fit text-black mb-6"
      routerLink="/job-detail"
    >
      Zistiť viac
    </button>
    <div>
      <button
        class="ua-blue-bg py-4 px-6 rounded-3xl w-fit text-white mb-6 mx-2"
        routerLink="/job-detail"
      >
        Zistiť viac
      </button>
      <button
        class="ua-blue-bg py-4 px-6 rounded-3xl w-fit text-white mb-6 mx-2"
        routerLink="/job-detail"
      >
        Zistiť viac
      </button>
    </div>
  </div>
</div>
