<!-- Show user data when logged in -->
<div class="flex flex-col justify-evenly items-center gap-8 text-black">
  <form
    [formGroup]="profileForm"
    class="flex flex-col gap-4 w-[331px] items-center"
  >
    <mat-form-field appearance="fill">
      <mat-label class="text-gray-500">Telefónne číslo</mat-label>
      <input matInput formControlName="phoneNumber" />
    </mat-form-field>

    <mat-radio-group
      aria-label="Select an option"
      formControlName="legalRelation"
      class="flex gap-4"
    >
      <mat-radio-button value="Právnická osoba"
        >Právnická osoba</mat-radio-button
      >
      <mat-radio-button value="Fyzická osoba">Fyzická osoba</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill">
      <mat-label class="text-gray-500">Názov</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Popis prace</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="text-gray-500">Trvanie</mat-label>
      <input matInput formControlName="duration" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="text-gray-500">Adresa</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="text-gray-500">Platba</mat-label>
      <input matInput formControlName="payment" />
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
      <mat-label class="text-gray-500">Preferujúci jazyk</mat-label>
      <mat-select formControlName="preferredLanguage">
        <mat-option value="Začiatočník">Začiatočník</mat-option>
        <mat-option value="Mierne pokročilý">Mierne pokročilý</mat-option>
        <mat-option value="Stredne pokročilý">Stredne pokročilý</mat-option>
        <mat-option value="Expert">Expert</mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expiration" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="w-full">
      <mat-label class="text-gray-500 pl-3">Špecialita</mat-label>
    </div>
    <mat-chip-list>
      <mat-chip
        *ngFor="let specialization of specialization.value"
        class="yellow-background"
        (click)="removeSpecialization(specialization)"
      >
        {{ specialization }}
      </mat-chip>
      <span
        [matMenuTriggerFor]="menu"
        class="bg-white rounded-[40px] w-[40px] h-[40px] text-[2rem] text-center leading-[38px] cursor-pointer select-none"
        >+</span
      >
    </mat-chip-list>

    <mat-menu #menu="matMenu">
      <mat-chip-list>
        <mat-chip
          [ngClass]="{
            'yellow-background': specialization.value | includes: spec
          }"
          *ngFor="let spec of typesOfJob"
          (click)="addOrRemoveSpecialization(spec); $event.stopPropagation()"
        >
          {{ spec }}
        </mat-chip>
      </mat-chip-list>
      <button mat-menu-item><div class="text-center">Zavri</div></button>
    </mat-menu>

    <button
      class="ua-blue-bg py-6 px-10 rounded-3xl w-fit text-white"
      (click)="saveForm()"
    >
      Uložiť
    </button>
  </form>
</div>
